@import "~antd/dist/antd.less";

.demo-class {
  background: blue;
}

.text-danger {
  color: #ff4d4f;
}

.ui-page {
  padding: 15px;
}

.gen-code-page {
  padding: 10px 30px;
  background: #fafafa;

  .ant-form-item {
    margin-bottom: 0 !important;
  }

  p {
    margin-bottom: 0 !important;
  }

  .row-highlight {
    min-height: 30px;
    padding: 8px 10px;
    outline: 1px dotted #ddd;
  }

  .col-highlight {
    min-height: 30px;
    padding: 8px 10px;
    border: 1px dotted #ddd;
  }

  .stage {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    min-height: 750px;
  }

  .action-bar {
    padding: 10px 0;
    text-align: right;

    .ant-btn {
      margin-left: 8px;
    }
  }

  .tool {
    position: relative;
    cursor: pointer;
    user-select: none;
    list-style: none;
    margin: 5px;
    padding: 10px 10px 10px 40px;
    border: 1px dashed #ddd;

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
    }

    &__name {
    }
  }

  .editable {
    position: relative;
    padding: 1px 8px;
    cursor: pointer;
    outline: 2px solid transparent;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      z-index: 8;
      content: "";
    }

    &.canDrop {
      &:after {
        display: none;
      }

      &.active {
        outline-color: #e6a23c;
        background: transparent;

        .editable__drag,
        .editable__actions {
          background: #e6a23c;
        }
      }
    }

    &.active {
      outline-color: #409eff;
      background: #ecf5ff;

      .editable__drag,
      .editable__actions {
        display: flex;
      }
    }

    &__drag {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #409eff;
      z-index: 10;
    }

    &__actions {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      background: #409eff;
      font-size: 16px;
      padding: 5px 8px;
      z-index: 10;
    }
  }
}
